/* Estilos para la landing page */
.landingPage {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    overflow: hidden;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../icons/35733.svg'); /* Ruta a tu imagen de fondo */
    background-position: center -250px;
    background-size: cover;
    
    
   /* Coloca el fondo detrás de los otros elementos */
}

.enterButtonImage {
    position: relative;
    width: 850px; /* Ajusta el tamaño de la imagen según tus necesidades */
    cursor: pointer;
    transition: transform 0.3s;
    z-index: 1; /* Asegura que la imagen esté por encima del fondo */
    top: 550px;
    left: 110px;
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.enterButtonImage:hover {
    animation: none; 
    transform: scale(1.1); /* Cambia el tamaño de la imagen en el hover si lo deseas */
}
